<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Parseador de archivos xml para base de datos</title>
        <link rel="stylesheet" href="../assets/css/font-awesome.min.css" >
        <link rel="stylesheet" href="../assets/css/grids.css" >
        <link rel="stylesheet" href="../assets/css/formComponets.css" >
        <link rel="stylesheet" href="../assets/css/style.css" >
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'nonce-RXNJbmljaWFsc2VjdXJlQXBwU2NyZWVwQ2xvc2U=' 'nonce-RXNJbmljaWFsc2VjdXJlQXBwU2NyZWVw'; style-src 'self' https://fonts.googleapis.com">
    </head>
    <body>
        <div class="form-page">
            <div class="form">
                <legend class="legend">ACCIONES</legend>
                <button id="select-file">Seleciona xml File</button>
                <span id="directoryInfo" class="hidden"></span>
            </div>
        </div>
    </body>
    <script nonce="RXNJbmljaWFsc2VjdXJlQXBwU2NyZWVw">if (typeof module === 'object') {window.module = module; module = undefined;}</script>
        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/functions.js"></script>
    <script nonce="RXNJbmljaWFsc2VjdXJlQXBwU2NyZWVwQ2xvc2U=">if (window.module) module = window.module;</script>
</html>
